//variables
:root {
    --humid-height: 68;
    --R_Slide: 2;
    --G_Slide: 128;
    --B_Slide: 144;
    // --poor_quality: rgb(255, 0, 0);     // X < -70dBm
    // --good_quality: rgb(238, 255, 0);   // -50dBm < X < -65dBm
    // --best_quality: rgb(0, 255, 0);     // X > -50dBm
    --R_signal: 238;
    --G_signal: 255;
    --B_signal: 0;
    --signal_quality: rgb(var(--R_signal), var(--G_signal), var(--B_signal));
}

body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #114b5f;
    display: flex;
    justify-content: center;
    align-items: center;
    @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
    font-family: "IBM Plex Mono", monospace;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    // appearance: none;
    box-sizing: border-box;
}

.dashboard-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 50px 50px;
    grid-template-areas:
        ". . . . . . . ."
        ". main-view main-view main-view main-view side-view side-view ."
        ". main-view main-view main-view main-view side-view side-view ."
        ". main-view main-view main-view main-view side-view side-view ."
        ". bottom-view1 bottom-view1 bottom-view2 bottom-view2 bottom-view3 bottom-view3 ."
        ". bottom-view1 bottom-view1 bottom-view2 bottom-view2 bottom-view3 bottom-view3 ."
        ". . . . . . . .";
    .main-view-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        grid-area: main-view;
        .main-dash-item {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background: #114b5f;
            box-shadow: 8px 8px 12px #0c3442, -8px -8px 12px #16627c;
            display: flex;
            align-items: center;
            #main_header {
                color: #f45b69;
                font-size: 38px;
                padding: 0 0 0 0.2rem;
                margin: 0 0 0 0;
                writing-mode: vertical-rl;
                text-orientation: upright;
                width: auto;
                height: auto;
            }
            #main_graph-container {
                margin: 1.5em;
                border-radius: 25px;
                background: #028090;
                box-shadow: inset 10px 10px 20px #0b323f, inset -10px -10px 20px #17657f;
                height: 94%;
                width: 100%;
            }
        }
    }
    .side-view-container {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        grid-area: side-view;
        .side-dash-item {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background: #114b5f;
            box-shadow: 8px 8px 12px #0c3745, -8px -8px 12px #165f79;
            display: flex;
            justify-content: center;
            align-items: center;
            .tester {
                height: 100px;
                width: 100px;
                background: rgb(var(--R_Slide), var(--G_Slide), var(--B_Slide));
            }
        }
    }
    .bottom-view-container1 {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        grid-area: bottom-view1;
        .bottom-view-item {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background: #114b5f;
            box-shadow: 8px 8px 12px #0c3745, -8px -8px 12px #165f79;
            display: flex;
            align-items: center;
            #conn_header {
                color: #f45b69;
                font-size: 19px;
                padding: 0 0 0 0.7rem;
                margin: 0 0 0 0;
                writing-mode: vertical-rl;
                text-orientation: upright;
                width: auto;
                height: auto;
            }
            #conn_rating-container {
                background: #456990;
                height: 225px;
                width: 225px;
                margin: 0 auto 0 auto;
                border-radius: 50%;
                background: #114b5f;
                box-shadow: inset 10px 10px 16px #0b323f, inset -10px -10px 16px #17657f;
                display: flex;
                justify-content: center;
                align-items: center;
                #conn_rating-bar {
                    height: 200px;
                    width: 200px;
                    border: 1.5rem var(--signal_quality) solid;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #conn_rating {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
    .bottom-view-container2 {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        grid-area: bottom-view2;
        .bottom-view-item {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            background: #114b5f;
            box-shadow: 8px 8px 12px #0c3745, -8px -8px 12px #165f79;
            display: flex;
            align-items: center;
            #humid_header {
                color: #f45b69;
                font-size: 19px;
                padding: 0 0 0 0.7rem;
                margin: 0 0 0 0;
                writing-mode: vertical-rl;
                text-orientation: upright;
                width: auto;
                height: auto;
            }
            #humid_rating-container {
                background: #456990;
                height: 225px;
                width: 225px;
                margin: 0 auto 0 auto;
                border-radius: 25px;
                background: #114b5f;
                box-shadow: inset 10px 10px 16px #0b323f, inset -10px -10px 16px #17657f;
                display: flex;
                justify-content: center;
                transform: rotate(180deg);
                #humid_rating-bar {
                    transform: rotate(180deg);
                    position: relative;
                    background: #028090;
                    width: calc(100% - 32px);
                    height: calc(1.93px * var(--humid-height));
                    border-radius: 25px;
                    top: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.5rem;
                }
            }
        }
    }
}
.bottom-view-container3 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    grid-area: bottom-view3;
    .bottom-view-item {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background: #114b5f;
        box-shadow: 8px 8px 12px #0c3745, -8px -8px 12px #165f79;
        display: grid;
        grid-template-columns: 0.25fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 0 0;
        grid-template-areas:
            "header title1 title2 title3"
            "header slider1 slider2 slider3"
            "header slider1 slider2 slider3"
            "header value1 value2 value3";
        .header {
            grid-area: header;
            display: flex;
            align-items: center;
            p {
                color: #f45b69;
                font-size: 16px;
                padding: 0 0 0 0.2rem;
                margin: 0 0 0 0;
                writing-mode: vertical-rl;
                text-orientation: upright;
                width: auto;
                height: auto;
            }
        }
        .title1 {
            grid-area: title1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title2 {
            grid-area: title2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title3 {
            grid-area: title3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .slider_title {
            color: #f45b69;
        }
        input[type="range"] {
            appearance: none;
            border-radius: 5px;
            background: #028090;
        }
        input[type="range"]::-webkit-slider-thumb {
            appearance: none;
            height: 15px;
            width: 15px;
            background: #f45b69;
            border-radius: 50%;
        }
        .slider1 {
            grid-area: slider1;
            display: flex;
            align-items: center;
            #red_slider {
                transform: rotate(-90deg);
                height: 5%;
                width: 100%;
            }
        }
        .slider2 {
            grid-area: slider2;
            display: flex;
            align-items: center;
            #green_slider {
                transform: rotate(-90deg);
                height: 5%;
                width: 100%;
            }
        }
        .slider3 {
            grid-area: slider3;
            display: flex;
            align-items: center;
            #blue_slider {
                transform: rotate(-90deg);
                height: 5%;
                width: 100%;
            }
        }
        .value1 {
            grid-area: value1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .value2 {
            grid-area: value2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .value3 {
            grid-area: value3;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .slider_value {
            color: #f45b69;
        }
    }
}
